html
    head
        title GBR_Resume
        meta(name="viewport" content="width=device-width,initial-scale=1.0")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js")
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js")

    style.
        body{
        height:1100px;
        margin-left:-100px;
        background-color:grey;
        }
        body::-webkit-scrollbar{
        display:none;
        }
        .one{
        width:63.5%;
        }
        .two{
        background-color:lightyellow;
        border-radius:8px;
        margin:30px 15px 20px 10px;
        box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 35px 25px rgba(0, 0, 0, 0.086),
        0 20px 20px rgba(0, 0, 0, 0.12);
        }
        .left{
        background-color:lightyellow;
        border-radius:10px;
        }
        .second{
        background-color:white;
        }
        .left1{
        background:url("images/b (4).jpg");
        background-size:cover;
        height:20%;
        color:lightyellow;
        font-weight:bold;
        font-size:12px;
        margin-top:10px;
        padding:80px 0px 0px 15px;
        border:3.4px solid #72043E;
        border-radius:10px 10px 0px 0px;
        margin-bottom:6px;
        box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 35px 25px rgba(0, 0, 0, 0.086),
        0 20px 20px rgba(0, 0, 0, 0.12);
        }        
        .left2{
        background-color:#72043E;
        color:lightyellow;
        text-shadow:0 0 4px black;
        box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 35px 25px rgba(0, 0, 0, 0.086),
        0 20px 20px rgba(0, 0, 0, 0.12);
        }
        .left21{
        border-radius:0px 0px 8px 8px;
        margin-bottom:10px;
        }
        h4{
        color:aqua;
        font-weight:bold;
        text-shadow:0px 0px 2px black;
        border-bottom:2px solid lightyellow;
        }
        .bar1{
        margin-top:-7px;
        margin-bottom:4px;
        background-color:lightyellow;
        border-radius:3px;
        height:13px;
        width:100%;
        }
        .bar2{
        margin-top:-7px;
        margin-bottom:4px;
        background-color:#09A8A8;
        border-radius:3px 0px 0px 3px;
        height:13px;
        width:85%;
        font-size:9.6px;
        text-align:center;
        }
        .bar3{
        margin-top:-7px;
        margin-bottom:4px;
        background-color:lightyellow;
        border-radius:3px;
        height:13px;
        width:100%;
        }
        .bar4{
        margin-top:-7px;
        margin-bottom:4px;
        background-color:#09A8A8;
        border-radius:3px 0px 0px 3px;
        height:13px;
        width:75%;
        font-size:9.6px;
        text-align:center;
        }
        .bar5{
        margin-top:-7px;
        margin-bottom:4px;
        background-color:lightyellow;
        border-radius:3px;
        height:13px;
        width:100%;
        }
        .bar6{
        margin-top:-7px;
        margin-bottom:4px;
        background-color:#09A8A8;
        border-radius:3px 0px 0px 3px;
        height:13px;
        width:50%;
        font-size:9.6px;
        text-align:center;
        }
        .bar7{
        margin-top:-7px;
        margin-bottom:4px;
        background-color:lightyellow;
        border-radius:3px;
        height:13px;
        width:100%;
        }
        .bar8{
        margin-top:-7px;
        margin-bottom:4px;
        background-color:#09A8A8;
        border-radius:3px 0px 0px 3px;
        height:13px;
        width:20%;
        font-size:9.6px;
        text-align:center;
        }
        .bar9{
        margin-top:-7px;
        margin-bottom:4px;
        background-color:lightyellow;
        border-radius:3px;
        height:13px;
        width:100%;
        }
        .bar10{
        margin-top:-7px;
        margin-bottom:4px;
        background-color:#09A8A8;
        border-radius:3px 0px 0px 3px;
        height:13px;
        width:65%;
        font-size:9.6px;
        text-align:center;
        }
        .bar11{
        margin-top:-7px;
        margin-bottom:4px;
        background-color:lightyellow;
        border-radius:3px;
        height:13px;
        width:100%;
        }
        .bar12{
        background-color:#09A8A8;
        border-radius:3px 0px 0px 3px;
        height:13px;
        width:55%;
        font-size:9.6px;
        text-align:center;
        }
        li{
        list-style-type:none;
        line-height:30px;
        }
        p{
        display:inline-block;
        }
        h1{
        margin-left:-4px;
        font-weight:bold;
        font-family:"Tw Cen MT";
        font-size:85px;
        margin-top:55px;
        text-shadow:0 0 2px black,0 0 6px lightyellow,0 0 10px black;
        color:#72043E;
        word-spacing:17px;
        letter-spacing:3px;
        height:94px;
        }
        .right{
        height:1476px;
        border-radius:0px 10px 10px 0px;
        border-left:5px solid #72043E;
        margin-top:10px;
        box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 35px 25px rgba(0, 0, 0, 0.086),
        0 20px 20px rgba(0, 0, 0, 0.12);
        }
        .right1{
        margin-top:-10px;
        }
        .right2{
        color:#72043E;
        font-weight:bold;
        padding:0px;
        text-align:justify;
        }
        .right3{
        border-top:3.5px solid #72043E;
        margin-top:5px;
        }
        .a{
        text-align:center;
        color:teal;
        margin:0px 0px 0px -15px;
        font-weight:bold;
        padding-top:-40px;
        font-size:23px;
        text-shadow:0 0 2px black;
        }
        .c{
        margin-left:-15px;
        font-weight:bold;
        color:#72043E;
        }
        .col1{
        margin-top:5px;
        margin-left:-15px;
        }
        h3{
        font-size:23px;
        font-weight:bold;
        color:teal;
        text-shadow:0 0 2px black;
        margin-top:7px;
        margin-left:34%;
        margin-bottom:0px;
        padding-left:10px;
        border-bottom:3.5px solid #72043E;
        width:32%;
        }
        .col2{
        margin-top:-20px;
        margin-bottom:5px;
        text-align:justify;
        }
        .hexa, .hexa div {
        margin:0px;
        transform-origin: 50% 50%;
        overflow: hidden;
        width: 100px;
        height: 100px;
        display:inline-block;
        margin-right:49px;
        
        }
        .hexa {
        width: 78px;
        height: 63px;
        }
        .hexa div {
        width: 100%;
        height: 100%;
        }
        .hexa {
        transform: rotate(120deg);
        }
        .hex1 {
        transform: rotate(-60deg);
        }
        .hex2 {
        transform: rotate(-60deg);
        }

        .s{
        width:50px;
        height:50px;

        }
          
    body
        .container.one
            .container.two
                .row
                    .col-md-4.left
                        .col-md-12.left1 
                            
                        .col-md-12.left2
                            h4 Contact
                            .fa.fa-search(style="font-size:13px;margin-right:10px;")
                            p www.000webhost/bhargava.com
                            br
                            .fa.fa-phone(style="font-size:18px;margin-right:9px;")
                            p 9493818156
                            br
                            .fa.fa-envelope(style="font-size:13px;margin-right:9px;")
                            p mcababu1820@gmail.com
                            br
                            .fa.fa-map-marker(style="font-size:19px;margin-right:13px;")
                            p Kakinada-533004
                        .col-md-12.left2
                            h4(style="margin-top:3px;margin-bottom:5px;") Accomplishments
                            li &#9672 Completed Java at NIIT.
                            li &#9672 BYODBUZZ certified "Cyber Security Expert v1.0".
                            li &#9672 Participated in 'BIG-DATA' seminar held by ATOM &#8195Software Solutions.
                            li &#9672 Completed skill development training by MEPMA.
                            br
                        .col-md-12.left2
                            h4(style="margin-top:-9px;margin-bottom:12px;") Hobbies
                            .fa.fa-music(style="font-size:17.5px;margin-right:5px;border-right:2px solid aqua;width:25.90px;")
                            .fa.fa-stack-overflow(style="font-size:17.5px;margin-right:7px;border-right:2px solid aqua;width:27px;padding-left:2px;")
                            .fa.fa-paint-brush(style="font-size:17.5px;margin-right:6px;border-right:2px solid aqua;width:25px;")
                            .fa.fa-gamepad(style="font-size:17.5px;margin-right:10px;border-right:2px solid aqua;width:27px;")
                            .fa.fa-pencil-square-o(style="font-size:17.5px;margin-right:7px;border-right:2px solid aqua;width:25.90px;")
                            .fa.fa-puzzle-piece(style="font-size:17.5px;margin-right:8px;border-right:2px solid aqua;width:25.90px;padding-left:2px;")
                            .fa.fa-google(style="font-size:17.5px;margin-right:8px;border-right:2px solid aqua;width:25.90px;")
                            .fa.fa-instagram(style="font-size:17.5px;margin-right:8px;border-right:2px solid aqua;width:25.90px;")
                            .fa.fa-linkedin-square(style="font-size:17.5px;margin-right:8px;border-right:2px solid aqua;width:28px;")
                            .fa.fa-youtube(style="font-size:17.5px;margin-right:0px;width:25px;padding-left:3px;")
                        .col-md-12.left2
                            h4(style="margin-top:17px;margin-bottom:12px;") Professional Skills
                            p HTML
                                .bar1 
                                    .bar2 85%
                            br
                            p CSS
                                .bar3
                                    .bar4 75%
                            br
                            p JavaScript
                                .bar5
                                    .bar6 50%
                            br
                            p Java
                                .bar7
                                    .bar8 20%
                            br
                            p MongoDB
                                .bar9
                                    .bar10 65%
                            br
                            p AngularJS
                                .bar11
                                    .bar12 55%
                        .col-md-12.left2
                            h4 Educational qualifications
                            |2020
                            br
                            |Master of computer applications
                            br
                            |(under JNTUK)
                            br
                            br
                            |2017
                            br
                            |B.com(computers)
                            br
                            |(Under AKNU)
                            br
                            br
                            |2015
                            br
                            |Completed CA-CPT
                            br
                            br
                        .col-md-12.left2.left21
                            h4(style="margin-top:-5px;margin-bottom:12px;") Achievements
                            li &#9672 Participated in Inter collegiate Technical event &#8199&#8199"SCIENTIA-2K19".
                            li &#9672 Elected as Class Representative
                            li &#9672 Participated as a volunteer for college event.
                            li &#9672 Achieved first prize in drawing competition.
                            li &#9672 Participated in Big data analytics workshop.
                            br
                    .col-md-8.right 
                        h1 Bhargava Gidijala
                        h4(style="border-bottom:3.5px solid #72043E;color:teal;padding:0px 0px 25px 60%;") ( Designer/product developer )
                        .col-md-12.right1
                            p.a(style="padding-left:38.8%;") Career Objective
                        .col-md-12.right2 Highly organized and detail-oreinted honors graduate from the univeristy of JNTUK seeking an entry-level position as an Front-end designer.Wish to begin my career as a giid software engineer by working on challeging projects.Further want to deal with each and every aspect and work related to computer engineering.
                            br
                        .col-md-12(style="border-top:3.5px solid #72043E;margin-top:10px;")
                            .col-md-6.col1
                                p.a Area of Interests
                                br
                                p.c &#9654; Front-end designing
                                br
                                p.c &#9654; Databsase connectivity
                            .col-md-6.col1(style="border-left:3.5px solid #72043E;margin-left:10px;")
                                p.a(style="padding-left:10px;") Strengths
                                br
                                p.c(style="padding-left:10px;") &#9654; Excellent communication skills.
                                br
                                p.c(style="padding-left:10px;") &#9654; Ability to grasp new skills Quickly.
                                br
                                p.c(style="padding-left:10px;") &#9654; Dedicated towards work.
                                br
                                p.c(style="padding-left:10px;") &#9654; Hard-working.
                        .col-md-12.right3
                                h3 Academic projects
                                br
                                .row(style="border-bottom:3.5px solid #72043E;")
                                    .col-md-6.col2(style="border-right:3.5px solid #72043E;")
                                        p.a(style="margin-top:2px;margin-bottom:3px;") Final year project
                                        br
                                        p(style="color:teal;font-weight:bold;font-size:17px;margin-left:-15px;") Title &#8195&#8195&#8195&#8196:&#8197
                                        p(style="font-weight:bold;color:#72043E;") Mobile seize application
                                        br
                                        p(style="color:teal;font-weight:bold;font-size:17px;margin-left:-15px;") Front-end&#8195:&#8197
                                        p(style="font-weight:bold;color:#72043E;") HTML,CSS,JavaScript
                                        br
                                        p(style="color:teal;font-weight:bold;font-size:17px;margin-left:-15px;") Back-end&#8195&#8198:&#8197
                                        p(style="font-weight:bold;color:#72043E;") MongoDB
                                        br
                                        p(style="color:teal;font-weight:bold;font-size:17px;margin-left:-15px;") Description&#8198:&#8197<b style="font-size:14px;color:#72043E;">This software application provides guidance for mobile storage purpose, as a perfect guide, the current demand for such software became needful. This project will provide for computerization of manual system whose main goal is to keep track on storing the mobile in a safe by entering the concern details.
                                        p
                                        br                                       
                                    .col-md-6.col2
                                        br
                                        p.a(style="padding-left:10px;margin-top:-20px;margin-bottom:3px;") Mini project
                                        br
                                        p(style="color:teal;font-size:17px;margin-left:-15px;padding-left:10px;") Title &#8195&#8195&#8195&#8196:&#8197
                                        p(style="font-weight:bold;color:#72043E;") Student admission system
                                        br
                                        p(style="color:teal;font-weight:bold;font-size:17px;margin-left:-15px;padding-left:10px;") Front-end&#8195:&#8197
                                        p(style="font-weight:bold;color:#72043E;") HTML,CSS,JavaScript
                                        br
                                        p(style="color:teal;font-weight:bold;font-size:17px;margin-left:-15px;padding-left:10px;") Back-end&#8195&#8198:&#8197
                                        p(style="font-weight:bold;color:#72043E;") MySQL
                                        br
                                        p(style="color:teal;font-weight:bold;font-size:17px;margin-left:-15px;padding-left:10px;") Description&#8198:&#8197<b style="font-size:14px;color:#72043E;">This application provides a easy way to select respective college based on percentage he scored board exams.He'll be displayed with list of available universities with concern details so that he can apply for admission without enquiring all colleges.By this application one can save most of their valuable time.
                        .col-md-12(style="border-bottom:3.5px solid #72043E;")
                                br
                                h3(style="margin-top:-12px;margin-bottom:3px;padding-left:20px;border-bottom:none;") Personal details
                                p(style="color:teal;font-weight:bold;font-size:17px;margin-left:-15px;") Address&#8193&#8195&#8195&#8195&#8193&#8198&#8198:&#8198<b style="font-size:14px;color:#72043E;"> 7-7-28,Ramaraopeta,pattabhi st.,lakshmi nivas apt.,Block-B(G1)
                                br
                                p(style="color:teal;font-weight:bold;font-size:17px;margin-left:-15px;") Father&#8195&#8195&#8195&#8195&#8195&#8195&#8197:&#8198<b style="font-size:14px;color:#72043E;"> G.Gopala Krishna
                                br
                                p(style="color:teal;font-weight:bold;font-size:17px;margin-left:-15px;") Mother&#8195&#8195&#8195&#8195&#8195&#8198&#8197&#8197&#8197:&#8198<b style="font-size:14px;color:#72043E;"> G.Vijaya Lakshmi
                                br
                                p(style="color:teal;font-weight:bold;font-size:17px;margin-left:-15px;") Siblings&#8193&#8193&#8193&#8193&#8193&#8196:&#8198<b style="font-size:14px;color:#72043E;"> None
                                br
                                p(style="color:teal;font-weight:bold;font-size:17px;margin-left:-15px;") Native place&#8195&#8195&#8195&#8197&#8198:&#8198<b style="font-size:14px;color:#72043E;"> Vijayawada
                                br
                                p(style="color:teal;font-weight:bold;font-size:17px;margin-left:-15px;") Nationality&#8195&#8195&#8195&#8199&#8199:&#8198<b style="font-size:14px;color:#72043E;"> Indian
                                br
                                p(style="color:teal;font-weight:bold;font-size:17px;margin-left:-15px;") Languages known&#8192:&#8198<b style="font-size:14px;color:#72043E;"> English,Telugu
                        //- .col-md-12(style="margin-top:40px;padding-left:16px;background-color:red;")
                            .hexa
                                .hex1
                                    .hex2
                                        img(src="images/s (1).png" width="100%" height="100%")
                            p(style="padding-top:10px;") kdjfjjl

                            br
                            .hexa
                                .hex1
                                    .hex2
                                        img(src="images/s (2).png" width="100%" height="100%")

                            .hexa
                                .hex1
                                    .hex2
                                        img(src="images/s (4).png" width="100%" height="100%")

                            .hexa
                                .hex1
                                    .hex2
                                        img(src="images/s (5).png" width="100%" height="100%")

                            .hexa
                                .hex1
                                    .hex2
                                        img(src="images/s (1).png" width="100%" height="100%")

                            .hexa(style="margin-right:0px;")
                                .hex1
                                    .hex2
                                        img(src="images/s (1).png" width="100%" height="100%")
                        //- .col-md-12(style="margin-top:-10px;")
                            br
                            p(style="padding:10px 25px 0px 22px;color:teal;font-size:20px;text-shadow:0 0 1px black;") abc
                            p(style="padding:10px 25px 0px 65px;color:teal;font-size:20px;text-shadow:0 0 1px black;") bbb
                            p(style="padding:10px 25px 0px 65px;color:teal;font-size:20px;text-shadow:0 0 1px black;") jjdjk
                            p(style="padding:10px 25px 0px 65px;color:teal;font-size:20px;text-shadow:0 0 1px black;") lkdlk
                            p(style="padding:10px 25px 0px 55px;color:teal;font-size:20px;text-shadow:0 0 1px black;") sdfa
                            p(style="padding:10px 25px 0px 53px;color:teal;font-size:20px;text-shadow:0 0 1px black;") dadl
                        .col-md-12(style="margin-top:0px;padding-left:16px;")
                            br
                            h3(style="margin-top:-12px;padding-left:20px;border-bottom:none;") Social accounts
                            
                            img(src="images/s (5).png" width="100%" height="100%").s
                            p(style="position:absolute;margin-top:15px;") &#8197 https://github.com/bhargavaGidijala-123
                            br
                            span
                                img(src="images/s (2).png" width="100%" height="100%" style="margin-top:20px;").s
                                h7(style="position:absolute;margin-top:33px;") &#8197 https://www.linkedin.com/in/bhargavagidijala
                            br
                            img(src="images/codepen.png" width="100%" height="100%" style="margin-top:20px;").s
                            p(style="position:absolute;margin-top:33px;") &#8197 https://codepen.io/bhargavagidijala-123
                            br 
                            img(src="images/stackoverflow.png" width="100%" height="100%" style="margin-top:20px;").s
                            p(style="position:absolute;margin-top:35px;") &#8197 https://stackoverflow.com/users/12846736/bhargava-gidijala
                            br
                            img(src="images/s (1).png" width="100%" height="100%" style="margin-top:20px;").s
                            h7(style="position:absolute;margin-top:35px;") &#8197 https://www.instagram.com/bhargava_gidijala/?hl=en

                        //- .col-md-12(style="margin-top:20px;")
                            .hexa(style="margin-left:0px;")
                                .hex1
                                    .hex2
                                        img(src="images/s (1).png" width="100%" height="100%" )

                            .hexa(style="margin-left:17.5%;")
                                .hex1
                                    .hex2
                                        img(src="images/s (1).png" width="100%" height="100%" )

                            .hexa(style="margin-left:18%;")
                                .hex1
                                    .hex2
                                        img(src="images/s (1).png" width="100%" height="100%" )
                            



                                
                            
